
@import url('https://fonts.cdnfonts.com/css/cosmic');

body {
  margin: 0;
  font-family: 'Cosmic', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
